.player-info {
  display: flex;
  column-gap: .5rem;
  justify-content: center;
}

.attempt-info {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 24rem;
  margin: 0 auto;
  padding: 0 .5rem;
  user-select: none;
}

.attempt-info__grid {
  display: grid;
  gap: .5rem;
  grid-template-columns: repeat(6, 1fr);
  width: 100%;
}
.attempt-info__grid__slot {
  aspect-ratio: 1 / 1;
  width: 100%;
  border-radius: 8px;
  background: #eee;
}

.throw {
  display: flex;
  column-gap: .25rem;
}
.throw__spacer {
  width: 1rem;
}

.inputs {
  user-select: none;
  width: 100%;
  max-width: 22rem;
  margin: 0 auto;
  padding: 0 .5rem;
}
.inputs > div {
  display: grid;
  gap: .5rem;
}
.inputs__actions {
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 1rem;
}

.inputs__throw {
  grid-template-columns: auto auto auto 1fr;
}