.attempt-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: .5rem;
  width: 100%;
}
.attempt-info__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.attempt-info__item label {
  font-size: 0.75em;
  text-transform: uppercase;
}
.attempt-info__item span {
  font-size: 1.25rem;
  font-weight: 700;
}