.statistics {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0 1rem;
  align-items: center;

  background: #f3f0bc;
}

.statistics h2 {
  grid-column: span 3;
}
.statistics span {
  font-family: monospace;
  text-align: right;
}