.grid {
  display: grid;

}

.main {
  height: 100%;
}

.size-6 {
  width: 1.5rem;
  height: 1.5rem;
}

.nav {
  display: flex;
  padding-bottom: 4px;
}

button, select {
  border: none;
  padding: 0;
  background: transparent;
   font-family: var(--sans-font);
}

button.input-field, select.input-field {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eee;
  border-radius: 6px;
  padding: .75rem .5rem;
  border: 2px solid #838383;
  color: #343434;
  text-align: center;
 
  position: relative;
}

.dice-placeholder {
  border-radius: 8px;
  aspect-ratio: 1 / 1;
  border: 2px solid #838383;
  width: 2.5rem;
  padding: .5rem;
  box-sizing: content-box;
}
.dice-box {
  --dice-border: #838383;
  --dice-brim: #eee;
  --dice-face: #fff;
  --dice-dots: #343434;

  position: relative;
  border: 2px solid var(--dice-border);
  box-shadow: 1px 1px 0 1px var(--dice-border), 2px 2px 0 1px var(--dice-border);
  border-radius: 8px;
  padding: .5rem;
  background: var(--dice-brim);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2px;
  color: var(--dice-dots);
  cursor: pointer;
  margin: 0 2px 2px 0;
}
.dice-box:active {
  box-shadow: none;
  margin: 2px 0 0 2px;
}
.dice-box.dice-box--red {
  /*border: 2px solid red;*/
  --dice-brim: #af3333;
  --dice-dots: white;
  --dice-border: #883030;
  --dice-face: #c83e3e;
}

.dice-box::before {
  content: "";
  position: absolute;
  top: 1.5px;
  left: 1.5px;
  width: calc(100% - 3px);
  height: calc(100% - 3px);
  border-radius: 24px;
  background: var(--dice-face);
  z-index: 1;
}
.dice-box:disabled {
  color: #838383;
  background: #ddd;
  cursor: initial;
}
.dice-box:disabled::before {
  background: #eee;
}
.dice-box > * {
  position: relative;
  z-index: 2;
}
.dice-box > select {
  height: 1.5rem;
  width: 100%;
  text-align: center;
  color: inherit;
}
.dots--medium {
  width: 1.5rem;
  height: 1.5rem;
}
.dots--large {
  width: 2.5rem;
  height: 2.5rem;
}
.dots--full {
  width: 100%;
  height: 100%;
}
