:root {
  --sans-font: "SN Pro", sans-serif;
  font-family: var(--sans-font);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  color: black;
  background: white;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1000px;
  width: 100vw;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}